@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;	
}

ul li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-family: "맑은 고딕";
	display: block;
	height: 39px;
}

a:HOVER {
	background-color: white;
	color: #8ED5ED;
}

ul {
	margin:0;
	padding:0;
	list-style: none;
	width: 780px;
	overflow: hidden;
	background: url("../img/bg_gnb_1dsep.gif");
}

ul li {
	float: left;
	width: 175px;
	padding : 10px 10px 0 10px;
	text-align: center;
}

