@CHARSET "UTF-8";

table {
		text-align: center;
}

table tr th {
	background-color: gray; 
	font-size: 30px;
	color: red;
}

table tr td {
	border-bottom: 1px solid  #000;
	border-left: 1px dotted #001;
}

table tr td:last-child {
	border-right: 1px solid #000; 
}

.a {
	border: none;
}